<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light border-bottom bg-white">
        <div
          class="container d-flex flex-row justify-content-between align-items-center w-100"
        >
          <div class="d-flex align-items-center">
            <button
              class="navbar-toggler border border-0"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasExample"
              aria-controls="offcanvasExample"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img
                src="../assets/dev-badge.svg"
                alt="logo"
                width="40"
                height="40"
                class="d-inline-block align-text-top"
              />
            </a>
            <div
              class="input-group border rounded-2 align-items-center d-none d-lg-flex"
            >
              <input
                type="search"
                class="form-control border border-0"
                placeholder="Search..."
              />
              <div class="input-group-append">
                <button class="btn" type="button">
                  <img src="../assets/search-icon.svg" alt="" />
                </button>
              </div>
            </div>
          </div>

          <div>
            <button type="button" class="btn-login btn btn-light">
              Log in
            </button>
            <button
              type="button"
              class="btn-create btn btn-outline-primary d-none d-lg-inline"
            >
              Create Account
            </button>
            <img
              src="../assets/search-icon.svg"
              alt="search"
              class="iconsearch d-lg-none"
              width="24"
              height="24"
            />
          </div>
        </div>
      </nav>

      <div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">
            DEV Community 👩‍💻👨‍💻
          </h5>
          <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <ul class="list-options px-2">
          <li class="">
            <a class="text-decoration-none" href="">
              <i>
                <img src="../assets/home-icon.svg" alt="" />
              </i>
              Home
            </a>
          </li>
          <li class="">
            <a class="text-decoration-none" href="">
              <i>
                <img src="../assets/listings-icon.svg" alt="" />
              </i>
              Listings
            </a>
          </li>
          <li class="">
            <a class="text-decoration-none" href="">
              <i>
                <img src="../assets/podcast-icon.svg" alt="" />
              </i>
              Podcasts
            </a>
          </li>
          <li class="">
            <a class="text-decoration-none" href="">
              <i>
                <img src="../assets/video-icon.svg" alt="" />
              </i>
              Videos
            </a>
          </li>
          <li class="">
            <a class="" href="">
              <i>
                <img src="../assets/tag-icon.svg" alt="" />
              </i>
              Tags
            </a>
          </li>
          <li class="">
            <a class="" href="">
              <i>
                <img src="../assets/faq-icon.svg" alt="" />
              </i>
              FAQ
            </a>
          </li>
          <li class="">
            <a class="" href="">
              <i>
                <img src="../assets/foremShop-icon.svg" alt="" />
              </i>
              Forem Shop
            </a>
          </li>
          <li class="">
            <a class="" href="">
              <i>
                <img src="../assets/sponsors-icon.svg" alt="" />
              </i>
              Sponsors
            </a>
          </li>
          <li class="">
            <a class="" href="">
              <i>
                <img src="../assets/about-icon.svg" width="20" alt="" />
              </i>
              About
            </a>
          </li>
          <li class="">
            <a class="" href="">
              <i>
                <img src="../assets/contact-icon.svg" width="20" alt="" />
              </i>
              Contact
            </a>
          </li>
          <li class="">
            <a class="" href="">
              <i>
                <img src="../assets/guides-icon.svg" width="20" alt="" />
              </i>
              Guides
            </a>
          </li>
          <li class="">
            <a class="" href="">
              <i>
                <img
                  src="../assets/softwareComparison-icon.svg"
                  width="20"
                  alt=""
                />
              </i>
              Software comparisons
            </a>
          </li>
        </ul>

        <ul class="list-options px-2">
          <h6 class="">Other</h6>
          <li class="">
            <a class="" href="">
              <i>
                <img src="../assets/codeConduct-icon.svg" width="20" alt="" />
              </i>
              Code of Conduct
            </a>
          </li>
          <li class="">
            <a class="" href="">
              <i>
                <img src="../assets/privacyPolicy-icon.svg" width="20" alt="" />
              </i>
              Privacy Policy
            </a>
          </li>
          <li class="">
            <a class="" href="">
              <i>
                <img src="../assets/terms-icon.svg" width="20" alt="" />
              </i>
              Terms of Use
            </a>
          </li>
        </ul>
        <div class="d-flex justify-content-around px-2">
          <img src="../assets/tw-icon.svg" alt="" />
          <img src="../assets/fb-icon.svg" alt="" />
          <img src="../assets/gh-icon.svg" alt="" />
          <img src="../assets/ig-icon.svg" alt="" />
          <img src="../assets/twt-icon.svg" alt="" />
        </div>
      </div>
    </header>
    <section class="form-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 offset-md-3 form-card">
            <form id="form-info" class="text-center">
              <div class="card-body">
                <h1 class="card-title-form">Welcome to DEV Community</h1>
                <p class="card-text">
                  DEV Community is a community of 1,035,860 amazing developers
                </p>
                <div class="d-grid gap-2 col-sm-12 col-md-10 mx-auto">
                  <button class="btn bg-dark btn-primary" type="button">
                    Continue with Apple
                  </button>
                  <button class="btn bg-warning btn-primary" type="button">
                    Continue with Google
                  </button>
                  <button class="btn bg-dark btn-primary" type="button">
                    Continue with Github
                  </button>
                  <button class="btn bg-info btn-primary" type="button">
                    Continue with Twitter
                  </button>
                </div>
                <br />
                <div class="input-form">
                  <h5 class="input-title">Email</h5>
                  <div class="input-group mb-3">
                    <input
                      name="email"
                      type="text"
                      class="form-control"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                    />
                  </div>
                  <br />
                  <h5 class="input-title">Password</h5>
                  <div class="input-group mb-3 w-80">
                    <input
                      name="password"
                      type="password"
                      class="form-control"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                    />
                  </div>
                </div>
                <br />
                <a
                  href="#"
                  id="btn-continue"
                  class="btn btn-primary btn-continue"
                  >Continue</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container-fluid">
        <div class="d-flex justify-content-center">
          <p class="text-center">
            <a href="#">DEV Community 👩‍💻👨‍💻</a> — A constructive and inclusive
            social network for software developers. With you every step of your
            journey.
          </p>
        </div>
        <div class="d-flex">
          <ul class="d-flex justify-content-center text-center flex-wrap">
            <li><a href="#" class="text-decoration-none">Home</a></li>
            <li><a href="#" class="text-decoration-none">Listings</a></li>
            <li><a href="#" class="text-decoration-none">Podcasts</a></li>
            <li><a href="#" class="text-decoration-none">Videos</a></li>
            <li><a href="#" class="text-decoration-none">Tags</a></li>
            <li><a href="#" class="text-decoration-none">FAQ</a></li>
            <li><a href="#" class="text-decoration-none">Forem Shop</a></li>
            <li><a href="#" class="text-decoration-none">Sponsors</a></li>
            <li><a href="#" class="text-decoration-none">About</a></li>
            <li><a href="#" class="text-decoration-none">Contact</a></li>
            <li><a href="#" class="text-decoration-none">Guides</a></li>
            <li><a href="#" class="text-decoration-none">Software</a></li>
          </ul>
        </div>

        <ul class="d-flex justify-content-center text-center">
          <li><a href="#" class="text-decoration-none">Code of Conduct</a></li>
          <li><a href="#" class="text-decoration-none">Privacy Policy</a></li>
          <li><a href="#" class="text-decoration-none">Terms of use</a></li>
        </ul>
        <div class="flex-column align-items-center">
          <p class="text-center">
            Built on <a href="#">Forem</a> — the
            <a href="#">open source</a> software that powers
            <a href="#">DEV</a> and other inclusive communities.
          </p>
          <p class="text-center">
            Made with love and <a href="#">Ruby on Rails</a>. DEV Community 👩‍💻👨‍💻
            © 2016 - 2023.
          </p>
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="../Js/containers/login.js"></script>
  </body>
</html>
