@media only screen and (min-width: 992px) {
  .input-group,
  .btn-outline-primary {
    display: none;
  }
}
.btn-home{
  background-color: transparent;
  border:  1px solid rgb(59, 73, 223);
  a{
    text-decoration: none;
    color: rgb(59, 73, 223);
  }
  &:hover{
    background-color: rgb(59, 73, 223);
    a{
      color: white;
    }
    text-decoration: underline;
    color: rgb(247, 247, 247);
  }
}
.btn-login {
  background: transparent;
  border: 0px;
  color: rgb(64, 64, 64);
  &:hover {
    text-decoration: underline;
    background: rgb(59, 73, 223, 10%);
    color: rgb(59, 73, 223);
  }
}

.btn-create {
  border: 1px solid rgb(59, 73, 223);
  color: rgb(59, 73, 223);
  &:hover {
    text-decoration: underline;
    color: white;
    background-color: rgb(59, 73, 223);
    border: 1px solid rgb(59, 73, 223);
  }
}

.btn-profile {
  background-color: transparent;
  border: none;
  &:hover {
    background-color: transparent;
    border: none;
  }
}


.input-wrapper{
  width: 25rem;
  
}
